*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  display: flex;
  align-items: center;
  margin: auto;
  color: #ffffff;
  font-family: "Fira Sans Condensed", Arial, sans-serif;
  font-weight: normal;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  align-items: end;
  column-gap: 30px;
  margin: auto;
  width: 1140px;
}

.result {
  align-self: flex-end;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  margin-bottom: 5px;
  color: #ffffff;
  font-family: Fira Sans Condensed, Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.search-form__label {
  display: flex;
  gap: 5px;
  align-items: center;
  width: fit-content;
  cursor: pointer;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #FFFFFF;
  outline-offset: 1px;
}

.search-form__label-text {
  color: #ffffff;
  font-family: Fira Sans Condensed, Arial, sans-serif; 
  font-size: 18px; 
  font-style: normal; 
  font-weight: 400; 
  line-height: normal; 
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__textfield {
  width: 225px;
  height: 27px;
  font-family: Fira Sans Condensed, Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: currentColor;
  background: transparent;
  border-top: 1px solid currentColor;
  border-right: 0;
  border-left: 0;
  border-bottom: 1px solid currentColor;
  appearance: none;
}

.search-form__textfield:focus {
  outline: 0;
}

.search-form__textfield:active {
  outline: 1px solid #ffffff;
  outline-offset: -1px;
}

.search-form__checkbox-list {
  display: flex;
  align-items: center;
  column-gap: 15px;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::before {
  display: block;
}

.search-form__checkbox:active + .search-form__pseudo-checkbox::before {
  display: block;
}

.search-form__pseudo-checkbox {
  position: relative;
  display: flex;
  width: 19px;
  height: 19px;
  border: 1px solid #ffffff;
}

.search-form__pseudo-checkbox:before {
  content: "";
  display: none;
  width: 15px;
  height: 15px;
  margin: auto;
  background-color: #ffffff;
}

.button {
  color: #ffffff;
  font-family: Fira Sans Condensed, Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  background: transparent;
  border: 1px solid currentColor;
  cursor: pointer;
}

.button:hover {
  text-decoration: underline;
}

button:focus {
  outline: 0;
}

button:focus-visible {
  outline: 1px solid #ffffff;
  outline-offset: 1px;
}

.button:active {
  background: #545050;
}

.search-form__submit-button {
  width: 194px;
  height: 34px;
  justify-content: center;
  align-self: end;
  gap: 10px;
  flex-shrink: 0;
}

.search-form__submit-button:active {
  background: #545050;
}

.content__details {
  flex-grow: 1;
}

.title {
  margin-bottom: 26px;
  color: #ffffff;
  font-family: Oswald, Arial, sans-serif;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  height: 298px;
  overflow: auto;
}

.content__list-item:not(:last-child) {
  margin-bottom: 30px;
}

.cards-list-item-template {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.content__card-link {
  display: block;
  margin: 2px;
  color: #ffffff;
  text-decoration: none;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:focus {
  outline: 0;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:focus-visible {
  outline: 1px solid #ffffff;
  outline-offset: 1px;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card {
  display: flex;
  align-items: start;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.content__video-card-title {
  color: #ffffff;
  font-family: Oswald, Arial, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 6px;
}

.content__video-card-description {
  color: #ffffff;
  font-family: Fira Sans Condensed, Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  flex-shrink: 0;
  object-fit: cover;
  object-position: center;
}

.more-button {
  width: 100%;
  height: 34px;
}
